@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --primary-color: hsl(179, 62%, 43%);
  --secondary-color: hsl(71, 73%, 54%);
  --tertiary-gray: hsl(204, 43%, 93%);
  --tertiary-blue: hsl(218, 22%, 67%);
  --white: #fff;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove defaults */
body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Karla', sans-serif;
  background-color: hsl(204 43% 93%);
}

main {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px; /* Match footer height to create buffer */
  padding-bottom: 1rem;
  padding-top: 2rem;
}


.container {
  max-width: 650px;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  overflow: hidden;
}

@media (max-width: 700px){
  .container {
    max-width: 320px;
  }
}

header {
  background-color: var(--white);
  padding: 2.5rem 2rem 3rem 2.5rem;
}

header h1 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

header h3 {
  color: var(--secondary-color);
  margin-bottom: .75rem;
}

header p {
  color: var(--tertiary-blue);
}

@media (max-width: 700px){
  header {
    padding: 1.5rem 2rem 2rem 1.5rem;
  }

  header h1 {
    font-size: 20px;
  }

  header h3 {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  header p {
    font-size: 13px;
    line-height: 1.75;
  }
}

.box-container {
  display: flex;
  width: 100%;
  color: var(--white);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  overflow: hidden;
}

@media (max-width: 700px){
  .box-container {
    display: block;
  }
}

.box {
  width: 50%;
  padding: 2rem 2rem 2.75rem 2.5rem;
}

.box h3 {
  color: var(--white);
  margin-bottom: 1rem;
}

.box p,
.box ul {
  color: var(--tertiary-gray);
}

.box .text-large {
  font-size: 2rem;
  color: var(--white);
  margin-right: .5rem;
  vertical-align: middle;
}

@media (max-width: 700px){
  .box {
    width: 100%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }

  .box h3 {
    font-size: 16px;
    margin-bottom: .75rem;
  }

  .box p {
    font-size: 13px;
  }

  .box .text-large {
    font-size: 1.75rem;
  }
}

.box .text-light {
  opacity: .75;
}

.box-left {
  background-color: var(--primary-color);
}

.box-right {
  background-color: var(--primary-color);
  font-size: 14px;
  opacity: .8;
}

button {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--white);
  border: 0;
  border-radius: .25rem;
  padding: 1rem;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  box-shadow: 1px 16px 17px -4px rgb(0 0 0 / 15%);
}

button:hover {
  position: relative;
  top: 1px;
  filter:saturate(0.5);
}


/* Footer */

footer {
    text-align: right;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
}

.attribution { 
  font-size: 11px; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}