:root {
  --primary-color: hsl(179, 62%, 43%);
  --secondary-color: hsl(71, 73%, 54%);
  --tertiary-gray: hsl(204, 43%, 93%);
  --tertiary-blue: hsl(218, 22%, 67%);
  --white: #fff;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background-color: var(--tertiary-gray);
  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 635px;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

.inner-wrapper {
  padding: 2.5rem 2rem 2.5rem 2.5rem;
}

@media (max-width: 700px) {
  main {
    padding: 4rem 0 4rem;
  }

  .container {
    max-width: 310px;
    border-radius: 0.25rem;
  }
  .inner-wrapper {
    padding: 1.75rem 1.5rem;
  }
}

/* Header */

header {
  background-color: var(--white);
}

header h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

header h2 {
  color: var(--secondary-color);
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
}

header p {
  color: var(--tertiary-blue);
  line-height: 1.625rem;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }

  header h2 {
    font-size: 0.9375rem;
    line-height: 1.125rem;
    margin-bottom: 1rem;
  }

  header p {
    font-size: 0.875rem;
    line-height: 1.625rem;
  }
}

/* Inner Columns or Boxes */

.box-row {
  display: flex;
  width: 100%;
  color: var(--white);
}

.box {
  width: 50%;
}

.box h3 {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 1.125rem;
}

.box p,
.box ul {
  color: var(--tertiary-gray);
}

.box-left {
  background-color: var(--primary-color);
}

.box-left p {
  line-height: 1.625rem;
}

.box-left p:first-of-type {
  margin-bottom: 0.5rem;
}

.box-left p:last-of-type {
  margin-bottom: 1.625rem;
}

.box-left span:first-of-type {
  font-size: 2rem;
  color: var(--white);
  margin-right: 0.75rem;
  vertical-align: middle;
}

.box-left span:last-of-type {
  opacity: 0.5;
}

.box-right {
  background-color: var(--primary-color);
  opacity: 0.85;
}

.box-right li {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 700px) {
  .box-row {
    display: block;
  }

  .box {
    width: 100%;
  }

  .box h3 {
    margin-bottom: 1.125rem;
  }

  .box p {
    font-size: 0.875rem;
  }
}

button {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: 700;
  border: 0;
  border-radius: 0.25rem;
  padding: 1rem;
  letter-spacing: 1px;
  box-shadow: 1px 16px 18px -4px rgb(0 0 0 / 15%);
}

button:hover {
  position: relative;
  top: 1px;
  background-color: var(--tertiary-gray);
  color: var(--primary-color);
}

/* Footer */

.fm-byline-row {
  padding: 0.5rem 0;
  background-color: var(--white);
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: hsl(228, 46%, 17%);
}
